/* Show it is fixed to the top */
body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

svg {
  border: 0px solid #ddd;
  padding: 10px;
}

circle {
  fill: #efefef;
}

text{
  fill: #aaa
}

.node{
  fill: #1f77b4
}

.node.hover{
  fill: red
}

.node.hover-parent{
  fill: #4FB8C2
}

.node.hover-child{
  fill: #FF5733
}

.link {
  fill: none;
  stroke: #666;
  stroke-opacity: .3;
  stroke-width: 1;
}

.dimmed{
  stroke-opacity: .3
}

.link.hover{
  stroke: red;
}

.link.hover-parent{
  stroke: #4FB8C2;
  stroke-opacity: 1;
  stroke-width: 3;
}

.link.hover-child{
  stroke: #FF5733;
  stroke-opacity: 1;
  stroke-width: 3;
}

.text{
  "font-family": "arial";
  "font-size": "12px";
  "fill": "#ddd";
}

.text.hover, .node.hover{
  fill: red
}

.text.hover-parent, .node.hover-parent{
  fill: #4FB8C2
}

.text.hover-child, .node.hover-child{
  fill: #FF5733
}

.popover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  padding: 1px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 1rem;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .5rem;
  padding: 10px
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
