/*https://coolors.co/19647e-51a1a2-2a9d8f-dec056-ee964b*/

body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

svg {
  border: 0px solid #ddd;
  padding: 10px;
}

circle {
  fill: #797979;
}

text{
  fill: #777
}

.arc {
    fill: #efefef;
}

.node, .text-edge{
  fill: #1f77b4
}

.node.hover{
  fill: red
}





.text-edge.selected {
  fill: red;
}

.link {
  fill: none;
  stroke: #aeaeae;
  stroke-opacity: .5;
  stroke-width: 1;
}

.dimmed {
  stroke-opacity: .3
}

.link.hover {
  stroke: red;
}

.text-edge.hover-parent, .node.hover-parent{
  fill: #19647E;
  font-weight: bold;
}
.node.hover-parent{
  fill: #19647E;
}
.link.hover-parent{
  stroke: #19647E;
  stroke-opacity: 1;
  stroke-width: 3;
}

.link.hover-child{
  stroke: #F39C12;
  stroke-opacity: 1;
  stroke-width: 3;
}

.node.hover-child{
  fill: #F39C12;
}

.text-edge.hover-child, .node.hover-child{
  fill: #F39C12;
  font-weight: bold;
}

.text{
  "font-family": "arial";
  "font-size": "12px";
  "fill": "#666";
}

.text.hover, .node.hover{
  fill: red
}


.popover{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  padding: 1px;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: normal;
  line-break: auto;
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  white-space: normal;
  word-break: normal;
  word-spacing: normal;
  font-size: 1rem;
  word-wrap: break-word;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: .5rem;
  padding: 10px
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.my-alert{
  border: 1px solid #ddd
}

.arc:nth-child(odd) {
    fill: #deeedd
}

.arc:nth-child(even) {
    background: #eeddee;
}

/* groups arcs*/
.arc-0{
  fill: #C4E3FB;
}
.arc-1{
  fill: #E8E8E8;
}
.arc-metagroup-0{
  fill: #305165;
}
.arc-metagroup-1{
  fill: #C54D4D;
}
.arc-metagroup-text{
  fill: white;
}
